#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #1a1a1a,
    #2c2c2c,
    #5a3e8f,
    #1f1f2e,
    #2e1f3d
  );
}

main {
  flex-grow: 1;
}
